[submodule "src/mavlink/v1.0"]
	path = src/mavlink/v1.0
	url = http://github.com/mavlink/c_library.git
[submodule "src/OpticalFlow"]
	path = src/OpticalFlow
	url = git@github.com:YuanfuC/OpticalFlow.git
